.heading{
font-size: 23px;
width: 100%;
margin: 0%;
box-shadow: 5px 5px 5px black;
}
.S1{
font-size: 15px;
color: black;
}
.copy_right_footer{
position: fixed;
color: white;
bottom: 0;
width: 100%;
background-color: yellowgreen;
line-height: 3;
text-align: center;
}